#  T-tests and P-values

In statistics, t-test is used to test if two data samples have a significant difference between their means. There are two types of t-test:

* **Student's t-test** (a.k.a. independent or uncorrelated t-test). This type of t-test is to compare the samples of **two independent populations** (e.g. test scores of students in two different classes). `scipy` provides the [`ttest_ind`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_ind.html) method to conduct student's t-test.

* **Paired t-test** (a.k.a. dependent or correlated t-test). This type of t-test is to compare the samples of **the same population** (e.g. scores of different tests of students in the same class). `scipy` provides the [`ttest_rel`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_rel.html) method to conduct paired t-test.

Both types of t-tests return a number which is called the **p-value**. If p-value is below 0.05, we can confidently declare the null-hypothesis is rejected and the difference is significant. If p-value is between 0.05 and 0.1, we may also declare the null-hypothesis is rejected but we are not highly confident. If p-value is above 0.1 we do not reject the null-hypothesis.

Read more about the t-test in [this article](http://b.link/test50) and [this Quora](http://b.link/unpaired97). Make sure you understand when to use which type of t-test.

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

### One tailed t-test 
In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/ttest_machine.xlsx. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

#### Import dataset

In [6]:
# Your code here:
data = pd.read_csv('ttest_machine.txt')
display(data.head(10))
data.shape

  New_machine Old_machine
0               42.1 42.7
1                 41 43.6
2               41.3 43.8
3               41.8 43.3
4               42.4 42.5
5               42.8 43.5
6               43.2 43.1
7               42.3 41.7
8                 41.8 44
9               42.7 44.1

(10, 1)

In [10]:
data[['New_machine','Old_machine']] = data['New_machine Old_machine'].str.split(expand=True)

# needed to extract the values into two seperate columns

In [13]:
data.head(10)

  New_machine Old_machine New_machine Old_machine
0               42.1 42.7        42.1        42.7
1                 41 43.6          41        43.6
2               41.3 43.8        41.3        43.8
3               41.8 43.3        41.8        43.3
4               42.4 42.5        42.4        42.5
5               42.8 43.5        42.8        43.5
6               43.2 43.1        43.2        43.1
7               42.3 41.7        42.3        41.7
8                 41.8 44        41.8          44
9               42.7 44.1        42.7        44.1

In [22]:
data['New_machine'].mean()

# since the values are string and mean isn't available, 
# need to convert the values to numeric

42.14

In [25]:
data['Old_machine'].mean()

43.230000000000004

In [21]:
data['New_machine'] = pd.to_numeric(data['New_machine'])

In [23]:
data['Old_machine'] = pd.to_numeric(data['Old_machine'])

In [27]:
# H0 = There is no difference between the packing pace of the machines
# H1 = There is a difference between the packing pace of the machines
# significance level: 5%

st.ttest_1samp(data['Old_machine'],data['New_machine'].mean())

Ttest_1sampResult(statistic=4.5965245498274845, pvalue=0.001296923297250077)

In [24]:
# H0 = There is no difference between the packing pace of the machines
# H1 = There is a difference between the packing pace of the machines
# significance level: 5%

st.ttest_rel(data['Old_machine'], data['New_machine'])

Ttest_relResult(statistic=3.0614273841115853, pvalue=0.013540335651632492)

In [ ]:
# In both T-tests p-value is lower than 0.05 and 
# since p-value < 0.05 we reject the H0 in both tests
# this means there's a difference between the old and new machine
# also checking with the mean values of those columns, and it's clear that
# according to their means, old machine is slower than the new machine

#### Import dataset

In this challenge we will work on the Pokemon dataset you have already used. The goal is to test whether different groups of pokemon (e.g. Legendary vs Normal, Generation 1 vs 2, single-type vs dual-type) have different stats (e.g. HP, Attack, Defense, etc.). Use pokemon.csv

In [26]:
# Your code here:
data2 = pd.read_csv('pokemon.txt')
display(data2.head(10))
data2.shape

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

(800, 13)

#### First we want to define a function with which we can test the means of a feature set of two samples. 

In the next cell you'll see the annotations of the Python function that explains what this function does and its arguments and returned value. This type of annotation is called **docstring** which is a convention used among Python developers. The docstring convention allows developers to write consistent tech documentations for their codes so that others can read. It also allows some websites to automatically parse the docstrings and display user-friendly documentations.

Follow the specifications of the docstring and complete the function.

In [35]:
data2.Legendary.value_counts()

False    735
True      65
Name: Legendary, dtype: int64

In [57]:
features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']
features[0]

'HP'

In [64]:
leg_df = data2[data2.Legendary==True]
s1 = data2[data2.Legendary==True].sample(30)

In [65]:
non_leg_df = data2[data2.Legendary==False]
s2 = data2[data2.Legendary==False].sample(30)

In [73]:
def t_test_features(s1, s2, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']):
    """Test means of a feature set of two samples
    
    Args:
        s1 (dataframe): sample 1
        s2 (dataframe): sample 2
        features (list): an array of features to test
    
    Returns:
        dict: a dictionary of t-test scores for each feature where the feature name is the key and the p-value is the value
    """
    results = {}

    # Your code here
    
    for i in features:
        results[i] = st.ttest_ind(s1[i],s2[i], equal_var=False).pvalue
    
    return results

In [74]:
t_test_features(s1,s2)

{'HP': 3.1547962441003643e-06,
 'Attack': 1.2591216000864847e-08,
 'Defense': 1.2867833167750409e-05,
 'Sp. Atk': 5.4644784856198406e-11,
 'Sp. Def': 2.1199505309781089e-07,
 'Speed': 0.00014584292852143504,
 'Total': 5.067895150811249e-18}

#### Using the `t_test_features` function, conduct t-test for Lengendary vs non-Legendary pokemons.

*Hint: your output should look like below:*

```
{'HP': 1.0026911708035284e-13,
 'Attack': 2.520372449236646e-16,
 'Defense': 4.8269984949193316e-11,
 'Sp. Atk': 1.5514614112239812e-21,
 'Sp. Def': 2.2949327864052826e-15,
 'Speed': 1.049016311882451e-18,
 'Total': 9.357954335957446e-47}
 ```

#### From the test results above, what conclusion can you make? Do Legendary and non-Legendary pokemons have significantly different stats on each feature?

In [ ]:
# Your comment here
# H0: no difference between legendary and non-legendary pokemons
# H1: there is a difference between them

# the p-values smaller than 0.05 so H0 is rejected; there is a difference between them

#### Next, conduct t-test for Generation 1 and Generation 2 pokemons.

In [75]:
# Your code here
gen1_df = data2[data2.Generation==1].sample(30)
gen2_df = data2[data2.Generation==2].sample(30)

In [76]:
t_test_features(gen1_df,gen2_df)

{'HP': 0.3912404526498645,
 'Attack': 0.5452192114755465,
 'Defense': 0.7763109162928971,
 'Sp. Atk': 0.003712379192406308,
 'Sp. Def': 0.2671474862163783,
 'Speed': 0.0060023233846110986,
 'Total': 0.13734614929260805}

#### What conclusions can you make?

In [ ]:
# Your comment here
# H0: no difference between gen_1 and gen_2 pokemons
# H1: there is a difference between them

# the p-values are smaller only in Sp.Atk but not others, 
# so can't reject H0

#### Compare pokemons who have single type vs those having two types.

In [82]:
# Your code here
combo = data2[data2['Type 2'].notnull()].sample(30)
single = data2[data2['Type 2'].isnull()].sample(30)

In [83]:
t_test_features(combo,single)

{'HP': 0.6420000256857201,
 'Attack': 0.010278573230813043,
 'Defense': 0.000582588082459019,
 'Sp. Atk': 0.4027361761814401,
 'Sp. Def': 0.2510429972152405,
 'Speed': 0.09360647311769837,
 'Total': 0.031647892103083046}

#### What conclusions can you make?

In [ ]:
# Your comment here
# H0: no difference between types of pokemons
# H1: there is a difference between them

# some of them have very small p-values while some of them have not
# no conclusion here

#### Now, we want to compare whether there are significant differences of `Attack` vs `Defense`  and  `Sp. Atk` vs `Sp. Def` of all pokemons. Please write your code below.

*Hint: are you comparing different populations or the same population?*

In [ ]:
# Your code here
# I will be using st.ttest_rel like when we needed to compare two machines above

In [84]:
st.ttest_rel(data2['Attack'], data2['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [85]:
st.ttest_rel(data2['Sp. Atk'], data2['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

#### What conclusions can you make?

In [ ]:
# Your comment here
# For attack and defense, p=value is very low so we reject H0
# For Sp. Atk and Sp. Def, p-value is higher than 0.05 so 
# we can't reject H0 meaning there is no difference between them